body{
position: relative;
background-image:url("http://getwallpapers.com/wallpaper/full/c/4/7/489350.jpg");
background-repeat: no-repeat;
width: 100%;
height: 100%;
}

.container-fluid{
    background-color:#404963;
}

h1{
    color:white;
}

.btn{
    background-color: #94a2b4;
    color: white;
}

.navbar{
    background-color:#404963;
}


.container{
    background-color: #404963;
}

.card{
    margin-left: auto;
    margin-right: auto;
}

main{
    margin-top: 75px;
}

#image{
    height: 200px;
    width: 200px;
    margin: 15px;
}

#about p{
    padding: 15px;
    margin: 15px;
    color: white;
}

main{
    margin-top: 75px;
}

.footer{
    background-color:#404963!important;
    color: white;
    text-align: center;
}

h3{
    color: white;
}

h5{
    color: white;
}
