body{
background-color:#e5ccc0
}

.container-fluid{
    background-color:#404963;
}

h1{
    color:white;
}

.btn{
    background-color: #94a2b4;
    color: white;
}

.navbar{
    background-color:#404963;
}
nav{
    background-color:#404963;
}

.container{
    background-color: #404963;
}


.card{
    margin-left: auto;
    margin-right: auto;
}

main{
    margin-top: 75px;
}

#image{
    height: 150px;
    width: 150px;
    margin: 15px;
}

#about p{
    padding: 15px;
    margin: 15px;
    color: white;
}

main{
    margin-top: 75px;
}

.footer{
    background-color:#666666!important;
    color: white;
    text-align: center;
}
