body{
background-color: lightgrey;
}

.container{
    background-color: white;
    margin: 15px;
}

main{
    margin-top: 75px;
}

#image{
    height: 150px;
    width: 150px;
    margin: 15px;
}

#about p{
    padding: 15px;
    margin: 15px;
}

#portfolio img{
height: 350px;
width: 350px;
} 

main{
    margin-top: 75px;
}

.footer{
    background-color:#666666!important;
    color: white;
    text-align: center;
}
